:root {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-primary-dark);
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
}

p {
  margin: 0;
}

h1,
h2 {
  font-family: "Play", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

address {
  font-style: normal;
}

a {
  display: inline-block;
}