*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-primary-dark);
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

address {
  font-style: normal;
}

a {
  display: inline-block;
}

// slider
.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: auto;
}

.procedurs-section {
  &__title {
    margin-bottom: 24px;
  }

  &__slider {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__container {
    overflow: hidden;
  }

  &__list {
    margin-bottom: 32px;
  }
}

.procedur-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 444px;
  border-radius: 16px;
  padding: 24px;
  overflow: hidden;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
  }
}