@import "./utils/fonts";
@import "./utils/variables";
@import "./global";
@import "./utils/texts.scss";
@import "./layouts/section";
@import "./utils/utils";

@import "./components/buttons";
@import "./components/carousel-buttons";
@import "./components/form";
@import "./components/input";
@import "./components/links";
@import "./components/pagination";
@import "./components/procedure-card";

@import "./layouts/about-section";
@import "./layouts/advantages-section";
@import "./layouts/contact-section";
@import "./layouts/footer";
@import "./layouts/form-terms";
@import "./layouts/gallery";
@import "./layouts/header";
@import "./layouts/hero-section";
@import "./layouts/modal";
@import "./layouts/procedures-section"