.text-brand {
  color: var(--color-primary-brand);
}

.text-small {
  font-size: 12px;
  font-weight: 400;

  @media screen and (min-width: $bp-tablet) {
    font-size: 18px;
  }
}

.text-bold {
  font-weight: 600;
}

.text-capitalize {
  text-transform: capitalize;
}