.container {
  max-width: 1288px;
  width: 100%;
  padding: 0 24px;
  margin: auto;

  @media screen and (min-width: $bp-tablet) {
    padding: 0 30px;
  }

  @media screen and (min-width: $bp-middle) {
    padding: 0 40px;
  }

  @media screen and (min-width: $bp-desktop) {
    padding: 0 24px;
  }
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}