:root {
  --color-primary-dark: #011c44;
  --color-secondary-dark: #000;
  --color-primary-light: #fff;
  --color-secondary-light: #4a4a4a;
  --color-primary-brand: #2b7fff;
  --color-light-accent: #747272;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-middle: 992px;
$bp-desktop: 1280px;
$bp-large: 1680px;