.link {
  color: var(--color-primary-dark);
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: var(--color-primary-brand);
  }

  &--light {
    color: var(--color-primary-light);

    &:hover {
      color: var(--color-primary-brand);
    }
  }
}