.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  &__button {
    width: 12px;
    height: 12px;
    background: var(--color-light-accent);
    border-radius: 50%;
    padding: 0;
    cursor: pointer;

    &--active {
      background-color: var(--color-primary-brand);
    }
  }
}