.about-section {
  position: relative;
  padding: 12px 0 52px;

  @media screen and (min-width: $bp-tablet) {
    padding: 12px 0 68px;
  }

  @media screen and (min-width: $bp-middle) {
    padding: 28px 0 86px;
  }

  &__wave {
    position: absolute;
    top: -24px;
    fill: var(--color-primary-light);
    stroke: var(--color-primary-light);

    @media screen and (min-width: $bp-tablet) {
      top: -67px;
    }

    @media screen and (min-width: $bp-desktop) {
      top: -90px;
    }

    @media screen and (min-width: $bp-large) {
      top: -106px;
    }
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    z-index: 99;

    @media screen and (min-width: $bp-middle) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__content {
    font-size: 18px;
    line-height: 1.2;

    @media screen and (min-width: $bp-tablet) {
      max-width: 680px;
      font-size: 22px;
      line-height: 1.7;
    }

    @media screen and (min-width: $bp-middle) {
      padding-top: 42px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}