.contact-section {
  padding-bottom: 0;

  @media screen and (min-width: $bp-tablet) {
    padding-bottom: 96px;
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      justify-content: center;
    }

    @media screen and (min-width: $bp-middle) {
      gap: 32px;
    }
  }

  &__title {
    margin-bottom: 24px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 48px;
    }
  }

  &__form {
    max-width: 423px;
    padding: 42px 24px;
    margin: auto;

    @media screen and (min-width: $bp-tablet) {
      padding: 48px 24px;
      margin: 0;
    }

    @media screen and (min-width: $bp-middle) {
      padding: 48px 56px;
    }

    &-title {
      margin-bottom: 24px;

      @media screen and (min-width: $bp-tablet) {
        margin-bottom: 32px;
      }
    }
  }

  &__form-field {
    max-width: 310px;
    margin: 0 auto 16px;
  }

  &__button {
    width: 100%;
    max-width: 310px;
    margin: 0 auto 8px;

    &:hover {
      color: var(--color-primary-light);
    }
  }

  &__map {
    height: 232px;
    border: none;
    flex-shrink: 0;
    margin: 0 -24px;

    @media screen and (min-width: $bp-tablet) {
      width: 50%;
      height: 480px;
      border-radius: 32px;
      flex-shrink: 1;
      margin: 0;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 605px;
    }
  }
}