.gallery {
  position: relative;
  display: none;

  @media screen and (min-width: $bp-tablet) {
    display: flex;
    width: 80%;
    height: 698px;
    flex-direction: column;
    flex-shrink: 0;
    margin: auto;
    gap: 20px;
  }

  @media screen and (min-width: $bp-middle) {
    width: 420px;
    gap: 40px;
  }

  @media screen and (min-width: $bp-desktop) {
    width: 512px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 32px;
    right: 0;
    width: 40px;
    height: 40px;
    background-image: url("../../images/middle-star.svg");
    background-repeat: no-repeat;
  }

  &__visual-box {
    position: relative;
    width: 327px;
    height: 328px;

    &:last-child {
      position: relative;
      align-self: flex-end;

      &::before {
        content: "";
        position: absolute;
        top: -14px;
        left: -40px;
        width: 64px;
        height: 64px;
        background-image: url("../../images/large-star.svg");
        background-repeat: no-repeat;
      }

      &::after {
        content: "";
        position: absolute;
        top: -78px;
        right: 28px;
        width: 16px;
        height: 16px;
        background-image: url("../../images/tiny-star.svg");
        background-repeat: no-repeat;
      }
    }
  }

  &__img {
    border-radius: 50%;
  }
}