.section {
  padding: 20px 0;

  @media screen and (min-width: $bp-tablet) {
    padding: 48px 0;
  }

  &__title {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.5;

    @media screen and (min-width: $bp-tablet) {
      font-size: 43px;
      line-height: 1.3;
    }

    @media screen and (min-width: $bp-middle) {
      font-size: 62px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 64px;
      margin-bottom: 48px;
    }

    &--centered {
      text-align: center;
    }
  }
}